@model IEnumerable<FoodOrder.Models.FoodItems>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cat.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodName)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cat.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoodName)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FoodId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FoodId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FoodId })
        </td>
    </tr>
}

</table>
