@model IEnumerable<FoodOrder.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RContact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpenCloseTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RContact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpenCloseTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RId })
        </td>
    </tr>
}

</table>
